---
layout: default
title: Home
---

<h1 class="sub-title">News</h1>

<div class="row">
	{% for post in site.posts %}
		{% capture theCycle %}{% cycle 'odd', 'even' %}{% endcapture %}
		<div class="span6">
			<h2><a href="{{ post.url }}" class="pink">{{ post.title }}</a></h2>
			<p class="small">{{ post.date | date_to_string }}</p> 
			<p>{{ post.author }}</p>
			{% if post.image %}
				<img src="{{ post.image }}" alt="{{ post.title }}" />
			{% endif %}
		</div>
		{% if theCycle == 'even' %}
		</div>
		<div class="row">
		{% endif %}
	{% endfor %}
</div>

<div class="hidden">
	<p>Posts about DevelopmenTS</p>
	<p>Post about looking for devs?</p>
	<p>Post about being at meetups</p>
	<p>Post about writing articles</p>
</div>