---
layout: default
title: Team
---

<h1 class="sub-title">Team</h1>

<div class="row">
	{% for member in site.data.members %}
	<div class="span6">
		<div class="circular-menu">

			<div class="circle">
				{% if member.website %}
					<a href="{{ member.website }}" target="_blank" class="fa fa-home fa-2x"></a>
				{% endif %}
				{% if member.facebook %}
					<a href="http://facebook.com/{{ member.facebook }}" target="_blank" class="fa fa-facebook fa-2x"></a>
				{% endif %}
				{% if member.twitter %}
					<a href="http://twitter.com/{{ member.twitter }}" target="_blank" class="fa fa-twitter fa-2x"></a>
				{% endif %}
				<!-- <a href="" class="fa fa-linkedin fa-2x"></a> -->
				{% if member.github %}
					<a href="http://github.com/{{ member.github }}" target="_blank" class="fa fa-github fa-2x"></a>
				{% endif %}
				{% if member.email %}
					<a href="mailto:{{ member.email }}" class="fa fa-envelope fa-2x"></a>
				{% endif %}
			<!-- <a href="" class="fa fa-pinterest fa-2x"></a> -->
			<!-- <a href="" class="fa fa-asterisk fa-2x"></a> -->
			</div>
		  
			<a href="" class="menu-button">
				<img src="https://github.com/{{ member.github }}.png" alt="">
			</a>

			<p>{{ member.name }}</p>
		</div>
	</div>
	{% endfor %}
</div>


