<div class="mainmenu nav-toggle"></div>

<button class="toggle nav-toggle">
    <svg x="0px" y="0px" width="100%" viewBox="0 0 96 96" class="gh-svg gh-svg-top" enable-background="new 0 0 96 96">
      <rect width="32" height="4" x="32" y="46" class="gh-svg-rect gh-svg-rect-top"></rect>
    </svg>
    <svg x="0px" y="0px" width="100%" viewBox="0 0 96 96" class="gh-svg gh-svg-bottom" enable-background="new 0 0 96 96">
      <rect width="32" height="4" x="32" y="46" class="gh-svg-rect gh-svg-rect-bottom"></rect>
    </svg>
  </button>

<div class="menu closed">
    <ul>
      <li>
        <a href="index.html">
      	 Home
        </a>
      	<span class="bar"></span>
      </li>
      <li>
        <a href="tools.html">
      	 Tools
        </a>
      	<span class="bar"></span>
      </li>
      <li>
        <a href="approach.html">
      	 Approach
        </a>
      	<span class="bar"></span>
      </li>
      <li>
        <a href="team.html">
      	 Team
        </a>
      	<span class="bar"></span>
      </li>
      <li>
        <a href="work.html">
      	 Work
        </a>
      	<span class="bar"></span>
      </li>
      <li>
        <a href="news.html">
         News
        </a>
        <span class="bar"></span>
      </li>
    </ul>
</div>